<div class="j">
<div class="v">
<div class="item">
    <div class ="kiss"><table border="2px">
    <h3>Biriyani</h3>
    <img src="https://img.freepik.com/premium-photo/dum-handi-chicken-biryani-is-prepared-earthen-clay-pot-called-haandi-popular-indian-non-vegetarian-food_466689-52403.jpg" width="310" height="300">
    <h4>Heart Is Beating...<br>
        Let NOW Beat.<br>
        We Are Craving...<br>
        Let Us Meet.<br>
        Biriyani Is Served...<br>
        Let Us Eat.</h4>
        <br>
        <button (click)="get()">Order Biriyani</button>
</table>
</div>
</div>
<div class="item">
    <div class ="kiss"><table border="2px">
    <h3>Mocktails</h3>
    <img src="https://www.shutterstock.com/image-photo/mojito-cocktail-mocktail-lime-mint-260nw-1920895412.jpg" width="350" height="300">
    <h4>Take A Breath...<br>
        A      N    D,,<br>
        Have A Mocktail.</h4>
        <br>
        <br>
        <br>
        <br>
        <button (click)="get1()">Order Mocktails</button>
</table>
</div>
</div>
<div class="item">
    <div class ="kiss"><table border="2px">
    <h3>Teffins</h3>
    <img src="https://i.pinimg.com/736x/1b/b7/10/1bb710bc3bf72cb1f52ce5aa879e7859.jpg" width="310" height="300">
    <h4>Wake Up<br>
        It's........1<br>
           Food O clock
        </h4>
        <br>
        <br>
        <br>
        <br>
        <button (click)="get2()">Order Teffins</button>
</table>
</div>
</div>
<div class="item">
<div class ="kiss"><table border="2px">
    <h3>Snacks</h3>
    <img src="https://c4.wallpaperflare.com/wallpaper/374/404/846/brown-bird-perching-during-daytime-wren-wren-wallpaper-preview.jpg" width="310" height="300" >
    <h4>>Keep Ur Friends Close<br>
        A    N    D<br>
        Ur Snacks Closer</h4>
        <br>
        <br>
        <button (click)="get3()">Order Snacks</button>
</table>
</div>
</div>
<div class="item">
    <div class ="kiss"><table border="2px">
    <h3>Cooldrinks</h3>
    <img src="https://cdn.wallpapersafari.com/18/83/oSmBFP.jpg" width="310" height="300">
    <h4>Ice Is Most Welocome In A CoolDrink...
        <br>
    On A Hot Day</h4>
        <br>
        <br>
        <br>
        <button (click)="get4()">Order Cooldrinks</button>
</table>
</div>
</div>
<div class="item">
    <div class ="kiss"><table border="2px">
    <h3>Icecreams</h3>
    <img src="https://images.alphacoders.com/153/thumb-1920-153783.jpg" width="310" height="300">
    <h4>You Can't Buy Happinesss....<br>
        But U Can Buy IceCreamn And...<br>
        That Is Pretty Much..<br>
        The Same Thing</h4>
        <br>
        <button (click)="get5()">Order Icecreams</button>
</table>
</div>
</div>
</div>