<!--<app-signup></app-signup>
    <app-menu></app-menu>-->

<div id="sect1" class="container">
        <h1><--SWIPE & DINE--></h1>
            <br>
            <div class="searchBox">
                <input class="searchInput"type="text" name="search" placeholder="Search for delivery location">
                <button class="searchButton" href="#">
                    <i class="material-icons">
                    
                    </i>
                </button>
            </div>
           <nav>
            <ul>
                <a routerLink="/signup">signup</a>
                <a routerLink="/Menu">Menu</a>

                <router-outlet></router-outlet>
            </ul>
            </nav>
            <div id="sect6" class="contaioner"></div>
    </div>
    
    <div id="sect2" class="container"></div>
    <div id="sect3" class="container"></div>
    <div id="sect4" class="container"></div>
    <div id="sect6" class="container"></div>
    <div id="sect5" class="container">
        <div class="item1">
        <table border="0.5px">
     <h3>contact</h3>
     <h4>About us<br>
        Team<br>
        Careers<br>
        Swipe and dine Blog<br>
        Bug Bounty<br>
        Swipe and dine One<br>
        Swipe and dine Corporate<br>
        Swipe and dine Instamart<br>
        Swipe and dine Genie</h4>
        </table>
        <table border="0.5px">
            <h3>contact</h3>
            <h4>Help & Support<br>
                Partner with us<br>
                Ride with us</h4>
        </table>
        <table border="0.5px">
            <h3>legal</h3>
            <h4>
                Partner with us<br>
                Ride with us<br>
                LEGAL<br>
                Terms & Conditions<br>
                Refund & Cancellation<br>
                Privacy Policy<br>
                Cookie Policy<br>
                Offer Terms<br>
                Phishing & Fraud<br>
                Corporate – Swipe and dine Money Codes Terms and Conditions<br>
                Corporate - Swipe and dine Discount Voucher Terms and Conditions</h4>
        </table>
    </div>
    <hr>
    <h3>we deliver to</h3>
    <hr>
    <div class="item2">
        <table border="0.5px">
Abohar<br>
Adilabad<br>
Adityapur<br>
Adoni<br>
Agartala<br>
Agra<br>
Ahmedabad<br>
Ahmednagar<br>
Aizawl<br>
Ajmer<br>
Akola<br>
Alappuzha<br>
Ambur<br>
Amravati<br>
Amreli<br>
Amritsar<br>
Anand<br>
Anantapur<br>
Angul<br>
Anjar<br>
Ankleshwar<br>
Arakkonam<br>
        </table>
        <table border="0.5px">
 Baddi<br>
Bagalkot<br>
Bagdogra<br>
Bagula<br>
Bahadurgarh<br>
Bahraich<br>
Balaghat<br>
Balangir<br>
Balasore<br>
Ballari<br>
Ballia<br>
Balrampur<br>
Balurghat<br>
Banda<br>
Bangalore<br>
Bankura<br>
Bathinda<br>
Beawar<br>
Beed<br>
Begusarai<br>
Bela-Pratapgarh<br>
Belgaum<br>
        </table>
        <table border="0.5px">
            Dhanbad<br>
            Dhar<br>
            Dharamshala<br>
            Dharapuram<br>
            Dharmapuri<br>
            Dharwad<br>
            Dhenkanal<br>
            Dholpur<br>
            Dhoraji<br>
            Dhule<br>
            Dhuri<br>
            Dibrugarh<br>
            Digboi<br>
            Dimapur<br>
            Dindigul<br>
            Diu<br>
            Doddaballapura<br>
            Duliajan<br>
            Dumka  <br>
            Duliajan<br>
Dumka<br>
Dungarpur<br>
        </table>
        <table border="0.5px">
Eluru<br>
Erode<br>
Etah<br>
Etawah<br>
Faizabad<br>
Faridabad<br>
Faridkot<br>
Farrukhabad<br>
Fatehabad<br>
Fatehgarh-Sahib<br>
Fatehpur<br>
Fazilka<br>
Firozabad<br>
Firozpur<br>
Gadag-Betigeri<br>
Gadwal<br>
Gandhidham<br>
Gangapur-City<br>
Gangarampur<br>
Gangtok<br>
Gauriganj<br>
Gaya<br>
        </table>
        <table border="0.5px">
Kochi<br>
Kodaikanal<br>
Kohima<br>
Kokrajhar<br>
Kolar<br>
Kolhapur<br>
Kolkata<br>
Kollam<br>
Kopargaon<br>
Koppal<br>
Korba<br>
Kota<br>
Kotdwar<br>
Kothagudem<br>
Kothamanagalam<br>
Kottakkal<br>
Kottarakkara<br>
Satna<br>
Sawai-Madhopur<br>
Sawantwadi<br>
Sehore<br>
Shahdol<br>
        </table>
    </div>
    </div>