<div class="b">
<table border="1px" [width]="100" align="center">
    <div class="main">  	
    <input type="checkbox" id="chk" aria-hidden="true">

        <div class="signup">
            <form>
                <label for="chk" aria-hidden="true">Sign up</label>
                <input type="text" name="txt" placeholder="User name" required="">
                <input type="email" name="email" placeholder="Email" required="">
                <input type="password" name="pswd" placeholder="Password" required="">
                <button>Sign up</button>
            </form>
        </div>

        <div class="signin">
            <form>
                <label for="chk" aria-hidden="true">sign in</label>
                <input type="email" name="email" placeholder="Email" required="">
                <input type="password" name="pswd" placeholder="Password" required="">
                <button>sign in</button>
            </form>
        </div>
</div>
</table>
</div>